h1 {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #006699;
}

.form-helper {
    margin-left: 1rem;
    margin-top: 1rem;
}

.form-control {
    width: 30% !important;
}

.labelOne {
    color: #333;
    font-size: 1rem !important;
}

.labelTwo {
    color: #333;
    font-size: 1rem !important;
}

.submit-button {
    margin-top: 1rem;
    margin-left: 2px;
    color: #eee;
    background: #db930d;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 0.1rem;

    &:hover {
        outline: none;
    }
}